@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,900,800,700,600,500,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,900,800,700,600,500,300,200,100);
body {
  font-family: "Montserrat", sans-serif !important;
}

.c-primary {
  color: #434D9C;
}

.c-secondary {
  color: #FFA800;
}

.nav-logo {
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-search {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

nav .navbar-nav li a {
  font-weight: 600 !important;
}

.box-gray {
  background-color: #F7F7F7;
  padding-top: 70px;
  margin-top: -40px;
  padding-bottom: 40px;
}

.vertical-line {
  background-color: #ccc;
  width: 1px;
  height: 40px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.static-title {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Roboto Condensed";
  display: inline-block;
  text-align: start;
  margin-bottom: 24px;
  transition: .5s;
}

.static-title .title {
  font-size: 24px;
  font-weight: 400;
  margin-top: -38px;
  color: #000000;
  transition: .5s;
}

.static-title .sub-title {
  font-size: 46px;
  font-weight: bold;
  color: #434D9C;
  opacity: 0.1;
  transition: .5s;
}

.animated-title {
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  font-family: "Roboto Condensed";
  transition: .5s;
}

.animated-title:hover .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -45px;
  color: #FFA800;
  transition: .5s;
}

.animated-title:hover .sub-title {
  font-size: 50px;
  font-weight: bold;
  color: #434D9C;
  opacity: 0.04;
  transition: .5s;
}

.animated-title:not(:hover) .title {
  font-size: 24px;
  font-weight: 100;
  margin-top: -25px;
  color: #000000;
  transition: .5s;
}

.animated-title:not(:hover) .sub-title {
  font-size: 36px;
  font-weight: bold;
  color: #434D9C;
  opacity: 0.1;
  transition: .5s;
}

.gradient-box {
  background: linear-gradient(to right, #F3F3F3, #EFECEC00);
  padding: 24px;
}

.blur-box {
  margin: 24px;
  background: rgba(67, 77, 156, 0.1);
  border-radius: 30px;
  box-shadow: 0px 0px 30px 30px rgba(67, 77, 156, 0.1);
  color: #434D9C;
}

.rect-box {
  padding: 24px;
  background: rgba(67, 77, 156, 0.1);
}

.box {
  margin: 24px;
}

.xol-title {
  padding: 30px;
  text-align: center;
}

.xol-title .title {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  margin: auto;
}

.xol-title .xol {
  margin-left: -20px;
  width: 100px;
  height: 40px;
  background-color: #434D9C;
  position: absolute;
  filter: blur(25px);
}

.num-li {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: -40px;
  background-color: #434D9C;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px #434D9C;
  color: #fff;
}

.num-li .num {
  position: absolute;
  left: 6px;
  margin-top: -3px;
}

.advantage {
  margin-bottom: 40px;
  cursor: pointer;
}

.advantage .title {
  font-size: 18px;
  height: 45px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  color: #434D9C;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advantage .sub-title {
  font-size: 14px;
  margin-bottom: 15px;
}

.advantage:hover img {
  height: 90px;
  filter: invert(61%) sepia(22%) saturate(6303%) hue-rotate(0deg) brightness(100%) contrast(109%);
  transition: .2s;
}

.advantage:not(:hover) img {
  height: 90px;
  filter: invert(0%) sepia(4%) saturate(16%) hue-rotate(112deg) brightness(97%) contrast(103%);
  transition: .2s;
}

.bg-box {
  background-image: url("../assets/bg_0.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  padding-top: 100px;
  padding-bottom: 100px;
  text-shadow: #fff 0px 0 10px;
}

.blur-nav {
  background-color: #ffffff9c !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.service {
  margin-bottom: 40px;
  cursor: pointer;
}

.service .title {
  font-size: 18px;
  height: 45px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  color: #434D9C;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service .sub-title {
  font-size: 14px;
  margin-bottom: 15px;
}

.service img {
  height: 130px;
}

.footer {
  background-color: #7C7C7C;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.img-white {
  filter: invert(100%) sepia(0%) saturate(33%) hue-rotate(73deg) brightness(107%) contrast(107%);
}

.footer .phone-link {
  color: #fff;
  font-weight: bold;
}

.footer .link {
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Condensed";
}

.footer p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.footer .section {
  margin-top: 20px;
}

.partners {
  margin-top: 20px;
  margin-bottom: 40px;
}

.partners .title{
  width: 100%;
}

.partners .partner:hover {
  height: 60px;
  margin: 20px;
  filter: grayscale(0);
  transform: .2s;
}

.partners .partner:not(:hover) {
  height: 60px;
  margin: 20px;
  filter: grayscale(1);
  transform: .2s;
}