@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,900,800,700,600,500,300,200,100);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,900,800,700,600,500,300,200,100);
body {
  font-family: "Montserrat", sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

.c-primary {
  color: #434D9C;
}

.c-secondary {
  color: #FFA800;
}

.nav-logo {
  height: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-search {
  height: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

nav .navbar-nav li a {
  font-weight: 600 !important;
}

.box-gray {
  background-color: #F7F7F7;
  padding-top: 70px;
  margin-top: -40px;
  padding-bottom: 40px;
}

.vertical-line {
  background-color: #ccc;
  width: 1px;
  height: 40px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.static-title {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: "Roboto Condensed";
  display: inline-block;
  text-align: start;
  margin-bottom: 24px;
  transition: .5s;
}

.static-title .title {
  font-size: 24px;
  font-weight: 400;
  margin-top: -25px;
  color: #000000;
  transition: .5s;
}

.static-title .sub-title {
  font-size: 46px;
  font-weight: bold;
  color: #434D9C;
  line-height: 46px;
  opacity: 0.1;
  transition: .5s;
}

.animated-title {
  padding-top: 24px;
  padding-bottom: 24px;
  cursor: pointer;
  font-family: "Roboto Condensed";
  transition: .5s;
}

.animated-title:hover .title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -45px;
  color: #FFA800;
  transition: .5s;
}

.animated-title:hover .sub-title {
  font-size: 50px;
  font-weight: bold;
  color: #434D9C;
  opacity: 0.04;
  transition: .5s;
}

.animated-title:not(:hover) .title {
  font-size: 24px;
  font-weight: 100;
  margin-top: -25px;
  color: #000000;
  transition: .5s;
}

.animated-title:not(:hover) .sub-title {
  font-size: 36px;
  font-weight: bold;
  color: #434D9C;
  opacity: 0.1;
  transition: .5s;
}

.gradient-box {
  background: linear-gradient(to right, #F3F3F3, #EFECEC00);
  padding: 24px;
}

.blur-box {
  margin: 24px;
  background: rgba(67, 77, 156, 0.1);
  border-radius: 30px;
  box-shadow: 0px 0px 30px 30px rgba(67, 77, 156, 0.1);
}

.rect-box {
  padding: 24px;
  background: rgba(67, 77, 156, 0.1);
}

.border-box {
  padding: 24px;
  border: dashed 2px #FFA800;
}

.border-box .xol {
  margin-left: -50px;
  width: 100px;
  z-index: 0;
  height: 100px;
  margin-top: 30px;
  background-color: #FFA800;
  position: absolute;
  filter: blur(30px);
}

.box {
  margin: 24px;
}

.xol-title {
  padding: 30px;
  text-align: center;
}

.xol-title .title {
  display: inline-block;
  font-size: 28px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  margin: auto;
}

.xol-title .xol {
  margin-left: -20px;
  width: 100px;
  height: 40px;
  background-color: #434D9C;
  position: absolute;
  filter: blur(25px);
}

.xol-title .xol-center {
  width: 100px;
  height: 40px;
  left: 45%;
  margin-top: 20px;
  background-color: #434D9C;
  position: absolute;
  filter: blur(25px);
}

.num-li {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: -40px;
  background-color: #434D9C;
  border-radius: 40px;
  box-shadow: 0px 0px 10px 10px #434D9C;
  color: #fff;
}

.num-li .num {
  position: absolute;
  left: 6px;
  margin-top: -3px;
}

.advantage {
  margin-bottom: 40px;
  cursor: pointer;
}

.advantage .title {
  font-size: 18px;
  height: 45px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  color: #434D9C;
  margin-top: 20px;
  margin-bottom: 20px;
}

.advantage .sub-title {
  font-size: 14px;
  margin-bottom: 15px;
}

.advantage:hover img {
  height: 90px;
  filter: invert(61%) sepia(22%) saturate(6303%) hue-rotate(0deg) brightness(100%) contrast(109%);
  transition: .2s;
}

.advantage:not(:hover) img {
  height: 90px;
  filter: invert(0%) sepia(4%) saturate(16%) hue-rotate(112deg) brightness(97%) contrast(103%);
  transition: .2s;
}

.bg-box {
  background-image: url("../assets/bg_0.png");
  background-size: 30%;
  background-repeat: no-repeat;
  background-color: #F7F7F7;
  padding-top: 100px;
  padding-bottom: 100px;
  text-shadow: #fff 0px 0 10px;
}

.blur-nav {
  background-color: #ffffff9c !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px #c7c7c7;
}

.service {
  margin-bottom: 40px;
  cursor: pointer;
}

.service .title {
  font-size: 18px;
  height: 45px;
  font-weight: 400;
  font-family: "Roboto Condensed";
  color: #434D9C;
  margin-top: 20px;
  margin-bottom: 20px;
}

.service .sub-title {
  font-size: 14px;
  margin-bottom: 15px;
}

.service img {
  height: 130px;
}

.footer {
  background-color: #7C7C7C;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #fff;
}

.img-white {
  filter: invert(100%) sepia(0%) saturate(33%) hue-rotate(73deg) brightness(107%) contrast(107%);
}

.footer .phone-link {
  color: #fff;
  font-weight: bold;
}

.footer .link {
  color: #fff;
  font-weight: 500;
  font-family: "Roboto Condensed";
}

.footer p {
  margin-top: 10px;
  margin-bottom: 0px;
}

.footer .section {
  margin-top: 20px;
}

.partners {
  margin-top: 20px;
  margin-bottom: 40px;
}

.partners .title {
  width: 100%;
}

.partners .partner:hover {
  height: 60px;
  margin: 20px;
  filter: grayscale(0);
  transform: .2s;
}

.partners .partner:not(:hover) {
  height: 60px;
  margin: 20px;
  filter: grayscale(1);
  transform: .2s;
}

.m-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.m-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.projects {
  height: 200px;
  overflow: hidden;
  margin-bottom: 30px;
}

.projects img {
  width: 100%;
  z-index: 0;
  padding: 0px !important;
  transform: scale(1.4);
  transition: 0.5s all ease-in-out;
}

.projects:hover img {
  transform: scale(1);
}

.tools-circle {
  margin: auto;
  border-radius: 100px;
  cursor: pointer;
  margin-bottom: 30px;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.tools-circle:hover img {
  width: 100%;
  transform: scale(1.5);
  padding: 0px !important;
  transition: 0.5s all ease-in-out;
}

.tools-circle:not(:hover) img {
  transform: scale(1);
  width: 100%;
  transition: 0.5s all ease-in-out;
}

.projects .description {
  z-index: 9999999999999;
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #434D9C;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.portfolio #portfolio-flters {
  list-style: none;
  margin-bottom: 20px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  cursor: pointer;
}

.portfolio .portfolio-item .portfolio-img {
  overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
  transition: all 0.6s;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  color: #fff;
  font-size: 12px;
  transition: all 0.3s;
  background: linear-gradient(#434d9c00, #434D9C);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 60px;
  padding-bottom: 10px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #f9fcfe;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #fff;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #47b2e4;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
  transform: scale(1.15);
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
}


/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/

.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #47b2e4;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #47b2e4;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(55, 81, 126, 0.08);
  color: #fff;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}


/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonials .testimonial-item {
  box-sizing: content-box;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  transition: 0.3s;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100%;
  border: 4px solid #fff;
  margin: 0 auto;
}

.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #434D9C;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #434D9C;
}

.testimonials .swiper-slide {
  opacity: 0.3;
  transform: scale(0.8) !important;;
  filter: blur(3px);
  transition: .5s;
}

.swiper-button-prev-unique{
  left: 0px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 999999999;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.swiper-button-next-unique{
  right: 0px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 999999999;
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.testimonial-item .title{
  font-size: 18px;
  font-family: "Roboto Condensed";
  color: #434D9C;
  font-weight: 500;
}

@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    filter: blur(0px);
    opacity: 1;
    transition: .5s;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    filter: blur(0px);
    transform: scale(1.5) !important;
    transition: .5s;
  }
  .testimonial-item .title{
    font-size: 12px;
    font-family: "Roboto Condensed";
    color: #434D9C;
    font-weight: 500;
  }
}

.book-box{
  min-height: 270px;
}

.book{
  text-align: left;
  width: 180px;
  padding: 10px;
}

.custom-btn:not(:hover){
  color: #FFA800;
  background-color: transparent;
  border: solid 2px #FFA800;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: .3s;
}

.custom-btn:hover{
  color: #434D9C;
  background-color: transparent;
  border: solid 3px #434D9C;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  transition: .3s;
}
